# gnutls-certtool template for server task.cheetham.com

# assign property values to complete template
country         =
state           =
locality        =
organization    =
unit            =
cn              =
dns_name        =
expiration_days = -1

# options
tls_www_server
encryption_key
signing_key
