[alias]
	br = branch
	ci = commit
	co = checkout
	cpick = cherry-pick
	d = diff
	dc = diff --cached
	ds = diff --compact-summary
	fp = fetch --prune --verbose
	last = log -1 HEAD
	l = log --pretty='%<(14)%C(magenta)%C(dim)%ar%Creset %C(cyan)%<(10)%al %C(yellow)%<(8)%h%Creset %s'
	ll = log --abbrev-commit
	orphan = switch --orphan
	rollback = ! git reset --soft @~1 && git unstage
        p = pull
        ppp = pull --force
        P = push
        PPP = push --force
	show-files = show --pretty='' --name-status
	un = unstage
	unstage = reset HEAD --
	m = merge
	mq = merge --squash
	sw = switch
	wip = ci -mwip
[core]
	autocrlf = input
	pager = less -eFiJM~ -j3 --tabs=3
[credential]
	helper = manager-core
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[rebase]
	autoStash = true
[user]
	email = chris@cheetham.com
	name = Chris Cheetham
[credential "helperselector"]
	selected = manager
