[user]
	name = Chris Cheetham
	email = chris@cheetham.com
[push]
	default = simple
[alias]
	br = branch
	ci = commit
	co = checkout
	cpick = cherry-pick
	diffc = diff --cached
	ds = diff --compact-summary
	last = log -1 HEAD
	l = log --abbrev-commit --pretty=oneline
	ll = log --abbrev-commit
	rollback = reset --soft @~1
	unstage = reset HEAD --
	m = merge
	mq = merge --squash
	sw = switch
[core]
	pager = less -eFiJM~ -j3 --tabs=3
	autocrlf = input
