[user]
	name = Chris Cheetham
	email = chris@cheetham.com
[push]
	default = simple
[alias]
	br = branch
	ci = commit
	co = checkout
	cpick = cherry-pick
	diffc = diff --cached
	last = log -1 HEAD
	ll = log --pretty=oneline
	undo = reset --soft @~1
	unstage = reset HEAD --
	mm = merge --no-ff
