/local
/scratch
/src
/thekeep
/tmp
/var
/xfr

# desktop files
/AppData
/Application Data
/Applications
/Contacts
/Cookies
/Desktop
/Documents
/Downloads
/Favorites
/Library
/Links
/Local Settings
/Movies
/Music
/My Documents
/NetHood
/Pictures
/PrintHood
/Public
/Recent
/Saved Games
/Searches
/SendTo
/Sites
/Start Menu
/Templates
/Videos

# Windows
NTUSER.*
ntuser.*

# work
.pivotal

# utils
.htoprc
.lesshst
.sudo_*
.wget-hsts

# bash
.bash_history

# vim
*.swp

# python
*.pyc

# openssl
.rnd

# osx
.CFUserTextEncoding
.DS_Store
.Trash

# X11
.Xauthority
.serverauth.*

# Gnome/GTK
.gnome
.gtk*

# Gradle
.gradle

# Ruby
.bundle

# amazon
.s3cfg

# IntelliJ
.Idea*

# bosh
.bosh*

# Consource
.flyrc

# DotNet
.IdentityService
.ServiceHub
.aspnet
.dotnet
.mono
.nuget
.templateengine

# Docker
.docker

# LastPass
.lpass

# Google
/Google Drive

# VirtualBox
/VirtualBox VMs

# Oracle
.oracle_jre_usage

# keychain
.keychain

# Maven
/.m2

# CloudFoundry
/.pcfdev/
