._*
*.swp
.CFUserTextEncoding
.DS_Store
.DownloadManager
.ICEauthority
.NERDTreeBookmarks
.Spotlight*/
.Trash
.VolumeIcon.icns
.Xauthority
.anyconnect
.aptitude
.aws
.bash*
.cisco
.cache
.compiz
.cups
.dbus
.dmrc
.dropbox*
.dvdcss
.eclipse*
.erlang.cookie
.fontconfig
.fseventsd/
.gconf
.gem
.gitconfig
.gnome
.gnome2
.godaddyrc
.gphostcache
.gradle
.gstreamer-*
.gtk-bookmarks
.gtkrc-*
.icons
.ivy2
.java
.jline-jython.history
.jmc
.juniper_networks
.keychain
.lesshst
.local
.m2
.macromedia
.mozilla
.msgid.cache
.ncftp
.pip
.pki
.pulse*
*.pyc
.python_history
.rediscli_history
.restorecond
.rnd
.serverauth*
.Skype
.ssh
.subversion
.sudo_as_admin_successful
.synaptic
.vim/.netrwhist
.vim/autoload
.vim/bundle
.vim/colors
.vim/ftdetect
.vim/syntax
.viminfo
.vimperator/info/default/history-*
.vinevncauth
.wireshark*
.xchat2
.xscreensaver
.xsession-errors*
.zcompdump*
.zhistfile
AppData
Application Data
Applications
Contacts
Cookies
Desktop
Documents
Downloads
Dropbox
Favorites
Google Drive
Library
Links
Local Settings
My Documents
Movies
Music
NTUSER.DAT*
NetHood
Pictures
PrintHood
Public
Recent
Saved Games
Searches
SendTo
Sites
Start Menu
TODO
distro
foo*
images
inbox
ntuser.ini
videos
workspace
