/local
/scratch
/src
/thekeep
/tmp
/var
/xfr

# desktop files
/AppData
/Application Data
/Applications
/Contacts
/Cookies
/Desktop
/Documents
/Downloads
/Favorites
/Library
/Links
/Local Settings
/Movies
/Music
/My Documents
/NetHood
/Pictures
/PrintHood
/Public
/Recent
/Saved Games
/Searches
/SendTo
/Sites
/Start Menu
/Templates
/Videos

# Zsh
/.zcompdump

# OS X
.CFUserTextEncoding
.DS_Store
.Trash

# terminals
/.terminfo

# NFS
.nfs*

# X11
/.ICEauthority
/.Xauthority
/.serverauth.*
/.xsession*

# freedesktop.org
/.config

# Gnome/GTK
/.gnome
/.gtk*

# KDE
/.directory
/.face*
/.kde*

# Windows
/NTUSER.*
/ntuser.*

# appliction caches
/.cache

# D-Bus
/.dbus

# work
/.pivotal

# bash
/.bash_history
/.bash_local

# Vim
*.swp
/_vimrc
/vimfiles

# utils
/.htoprc
/.lesshst
/.sudo_*
/.wget-hsts

# OpenSSL
/.rnd

# Python
*.pyc
/.idlerc
/.ipython
/.pylint*

# Java
/.java
/.oracle_jre_usage

# Groovy
/.groovy

# Ruby
/.bundle

# Perl
/.cpan

# Erlang
/.erlang.cookie

# Gradle
/.gradle

# Maven
/.m2

# Subversion
/.subversion

# IntelliJ
.Idea*

# Visual Studio Code
/.vscode
/.VSCodeVim
/.vsts/

# GnuPG
/.gnupg

# PKI
/.pki

# keychain
/.keychain

# LastPass
/.lpass

# bosh
/.bosh*

# DotNet
/.IdentityService
/.ServiceHub
/.aspnet
/.dotnet
/.mono
/.nuget
/.templateengine

# Node
/.npm
/.node-gyp

# Docker
/.docker

# JetBrains products
/.IntelliJ*
/.PyCharm*
/.Rider*

# VirtualBox
/VirtualBox VMs

# CloudFoundry
/.cf/
/.pcfdev/

# Kubernetes
/.kube
/.minikube

# Concourse
/.flyrc

# Google
/Google Drive

# Amazon
/.s3cfg

# UAA
/.uaac.yml

# CUPS
/.cups

# MySQL
/.mysql_history

# matplotlib
/.matplotlib

# Atom editor
/.atom/

# Grip GitHub markdown viewer
/.grip/

# Andriod
/.android/

# Zoom
/.zoomus

# SCDF
/.scdf

# GemFire/Geode
/.geode

# tcServer
/.tcruntime-admin.properties
