XTerm*faceName:                Inconsolata
!XTerm*faceName:                Dejavu Sans Mono
XTerm*faceSize:                10
xterm*faceSize:                10
XTerm*pointerMode:             1

XTerm*toolBar:                 false

XTerm*scrollBar:               true
XTerm*rightScrollBar:          true
XTerm*scrollKey:               true
XTerm*scrollTtyOutput:         false
XTerm*allowScrollLock:         false

XTerm*visualBell:              true
XTerm*altIsNotMeta:            true
XTerm*altSendsEscape:          true

wheel*background:              darkred

log*foreground:                dark khaki
log*geometry:                  120x20
log*faceSize:                  8


ncss*foreground:               cornsilk

mail*scrollBar:                false
mail*termName:                 xterm-256color
mail*title:                    Mail


#include "var/repo/tomorrow-theme/Xdefaults/XresourceTomorrowNight"
