holiday.en-US1.name=New Year's
holiday.en-US1.date=20150101
holiday.en-US3.name=President's Day
holiday.en-US3.date=20150216
holiday.en-US5.name=Memorial Day
holiday.en-US5.date=20150525
holiday.en-US6.name=Independence Day
holiday.en-US6.date=20150703
holiday.en-US7.name=Labor Day
holiday.en-US7.date=20150907
holiday.en-US10.name=Thanksgiving
holiday.en-US10.date=20151126
holiday.en-US11.name=Christmas
holiday.en-US11.date=20151225
