holiday.en-US1.name=New Year's
holiday.en-US1.date=20160101
holiday.en-US3.name=President's Day
holiday.en-US3.date=20160215
holiday.en-US5.name=Memorial Day
holiday.en-US5.date=20160530
holiday.en-US6.name=Independence Day
holiday.en-US6.date=20160704
holiday.en-US7.name=Labor Day
holiday.en-US7.date=20160907
holiday.en-US10.name=Thanksgiving1
holiday.en-US10.date=20161124
holiday.en-US10.name=Thanksgiving2
holiday.en-US10.date=20161125
holiday.en-US11.name=Christmas
holiday.en-US11.date=20161226
