chromium
compiz-1
dconf
evolution
gedit
gnome-session
gtk-2.0
gtk-3.0
htop
ibus
icedtea-web
libaccounts-glib
nautilus
pulse
ranger
Trolltech.conf
unity-tweak-tool
update-notifier
upstart
user-dirs.dirs
user-dirs.locale
yelp
