# =============================================================================
# local settings : post-load
# -----------------------------------------------------------------------------
# this file loaded after all [00-99] files loaded
# =============================================================================

# vim: ft=zsh
